@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow-x: hidden;
    scroll-behavior: smooth;  
}

/*Mobile portability*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
      width: 100%;
    }
    h1{
        margin-left: 60%;
        display: block;
    }
    .blue-bar {
        width: 400px;
        height: 70px;
        background: rgb(62, 196, 219);
        position: absolute;
        bottom: 100px;
        left: 300px;
        z-index: -1;
    }

    /*Page 2*/
    .page2 {
        margin-left: 20%;
    }

    /*Page 3*/
    .boxes {
        margin-left: 30%;
    }    
    .box {
        margin-left: 10%;
        width: 500px;
    }

    /*Page 4*/
    .colaboradores-container {
        margin-left: 55%;
        border-width: 4px 0px;
        border-style: solid;
        border-color: #44B8BF;
    }

    /*page 5*/
    .blog {
        margin-left: 20%;
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration-style: none;
    list-style: none;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #fff;
}