.discord-button {
    margin-top: 50px;
}
.discord-button a{
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    padding: 10px 30px;
    transition: 0.5s;
}
.discord-button a:hover {
    letter-spacing: 0.30em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
.discord-button a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
.discord-button span {
    position: relative;
    z-index: 1;
}
.discord-button a i {
    position: absolute;
    inset: 0;
    display: block;
}
.discord-button a i::before{
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27202c;
    transform: translateX(-50%);
    transition: 0.5s;
}
.discord-button a:hover i:before {
    width: 20px;
    left: 20%;
}

.discord-button a i::after{
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27202c;
    transform: translateX(-50%);
    transition: 0.5s;
}
.discord-button a:hover i:after {
    width: 20px;
    left: 80%;
}