.botao {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(62, 196, 219);
    cursor: pointer;
    margin-left: 150px;
    margin-top: 30px;
    height: 55px;
    text-align:center;
    border-color: #25aae1;
    border-style: outset;
    border-width: 4px;
    background: #091b29;
    background-size: 300% 100%;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.botao:hover {
    color: rgb(41, 73, 179);
    background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    border-style: hidden;
}