@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* Header Nav Bar */
.main-menu a{
    color: #fff;
    font-family: 'roboto', cursive;
}

/* PAGE 1 */
.text {
    font-family: 'Open Sans', sans-serif;
}
#text-1 {
    color: rgb(26, 188, 194);
    font-size: 80px;
    font-family: 'Silkscreen', cursive;
}
#text-2 {
    color: rgb(255, 255, 255);
    font-family: 'Silkscreen', cursive;
}
.text span{
    font-weight: 30px;
    font-size: 76px; 
    letter-spacing: 0.3rem;
    color: white;
    font-size: 54px;
    color: white;
}

/* PAGE 2 */
.sobre #mechamo{
    font-size: 50px;
    color: #fff;
    font-family: 'Fuzzy Bubbles', cursive;
}
.sobre #nome {
    font-family: 'Silkscreen', cursive;
    color: #fff;
    font-size: 60px;
}
.sobre p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: gray;
    margin-top: 30px;
    text-align: start;
    text-decoration: none;
}

/* PAGE 3 */
.page3 h1{
    font-family: 'Silkscreen', cursive;
}
#projectInfo {
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    color: rgb(119, 192, 197);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 1.2rem;
}
.box .nomeprojeto{
    font-family: 'Silkscreen', cursive;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
    z-index: 1;
}
/* PAGE 4 */
.member-card span{
    font-family: 'Comfortaa', cursive;
    color: rgb(72, 75, 82);
}
.member-card h2 {
    padding-top: 10px;
    font-family: 'Comfortaa', cursive;
}
.member-card p {
    font-family: 'Comfortaa', cursive;
}
.page4 h1 {
    font-family: 'Silkscreen', cursive;
}
/* PAGE 5 */
.info h2{
    font-family: 'Comfortaa', cursive;
    color: #fff;
    font-size: 36px;
    text-align: start;
    margin-top: 80px;
}
.info p {
    color: gray;
    font-family: 'Roboto', sans-serif;;
    margin-top: 30px;
}