body {
    text-decoration-style: none;
    margin: 0px;
    padding: 0;
    background: url(/images/portifolio-site-bg.jpg)
}
ul li{
    text-decoration: none;
    overflow: hidden;
}
.raise:hover{
    background-color: rgb(36, 179, 214);
    border-color: transparent;
    color: #444;
    
}
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background: #08e7d5;
    color:rgb(197, 231, 214);

    
}
.raise {
    padding: 5px;
    border:  #08e7d5;
    width: 300px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgba(#fff, 0.8);
    cursor: pointer;
    transition: 1.7s;
}
header {
    height: 769px;
    margin: 0px;
}
.selectors {
    
    display: flex;
}
.selectors li, ul{
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    margin: 1.1rem;
    text-decoration: none;
    justify-content: center;
    
}
.selectors ul, li, li:hover{
    color:  aqua;
}


.texto{
    display: grid;
    margin-left: 10% ;
    margin-right: 10%;
    margin-top: 12.3%;
}

#ola {
    font-weight: 30px;
    font-size: 76px; 
    letter-spacing: 0.3rem;
    
    color: white;
}

#descricao{
    font-size: 54px;
    color: white;
}

#botao {
    margin-top: ;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(62, 196, 219);
    cursor: pointer;
    margin: 25px;
    height: 55px;
    text-align:center;
    border-color: #25aae1;
    border-style: outset;
    border-width: 4px;
    background: #091b29;
    background-size: 300% 100%;

    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

#botao:hover {
    color: rgb(41, 73, 179);
    background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    border-style: hidden;
}