/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*Confortaa*/
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

main {
    text-decoration: none;
}

img {
    width: 50px;
    margin: 1%;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    cursor: pointer;
    align-items: center;
}
.links span{
    font-size: 30px;
}
#link-1 {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color: rgb(173, 159, 159);
    
}

#link-2 {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background: rgb(33, 46, 163);

}

#link-3 {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    background: rgb(186, 71, 231);
}

#link-4 {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    background: rgb(190, 114, 114);
}




