.member-card {
    position: relative;
    display: flex;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #060c21;
    margin-bottom: 50px;
    margin-top: 50px;
}
.member-card .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, .1);
    pointer-events: none;
}
.member-card .content {
    padding: 20px;
    z-index: 1;
    flex-direction: column;
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
}
.member-card:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.member-card:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.member-card:nth-child(1):before, 
.member-card:nth-child(1):after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
} 
.member-card:nth-child(2):before, 
.member-card:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
} 
.member-card:nth-child(3):before, 
.member-card:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3)
}

.member-card p {
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: rgb(88, 101, 242);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 6px;
    border-radius: 8px;
    border-bottom: 2px solid rgb(36, 212, 224);
}
.content h2, span{
    color: #fff;
    margin-top: 4px;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
}