.page2 {
    background: url(/images/background-portifolio.jpg);
}
.box-1 {
    padding-top: 100px;
    height: 650px;
    width: 100%;
    display: flex;
}
.sobre {
    display: flexbox;
    margin-left: 15%;
    margin-top: 50px;
}
.sobre #mechamo{
    
    font-size: 40px;
    color: #fff;
}
.sobre #nome {
    color: #fff;
    font-size: 50px;
}
.sobre p{
    color: gray;
    text-decoration: none;
}
.sobre a {
    margin-top: 50px;
    text-decoration: None;
    font-family: ;
    font-size: 30px;
    letter-spacing: 0.5px; 
    color: gray;
    padding: 0 10px;
}
.sobre a:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 120px;
    left: 0;
    bottom: -15%;
    transition: all 0.4s ease-in-out;
}
.sobre a:hover:after{
    width: 140px;
    font-size: 24px;
}
#sobreImg img{
    padding-left: 100px;
    width: 300px;
    overflow: hidden;
}
@media (max-width : 750px){
    .box-1 {
        display: grid;
        grid-template-columns: 
        auto;
        grid-gap: 20px;
    }
}